<%= content_for :head_extra do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/chessboard.css">
<% end %>

<h1 style="text-align: center; padding-bottom: 30px;">Game: <%= @game.id %></h1>
<div
  id="board"
  data-controller="board"
  data-board-state-value='<%== @game.board.to_js_state.to_json %>'
  data-board-id-value='<%= @game.id %>'
  style="width: 500px; margin: 0 auto;">
</div>
